@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

header {
  position: relative;
}

header nav {
  position: absolute;
}

nav ul{
  font-size: 21px;
  font-weight: 400;
  color:white;
  align-items: center;
}

nav ul:nth-child(n) :hover {
  color:#F84646;
}

nav #container-logo {
  width: 70%;
  height: auto;
}

#home-img {
  width: 100%;
  height: 100vh;
  background-image: url("../img/img-inicio1.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

#home-h1 {
  position: absolute;
  top:40%;
  left:65%;
  font-family: koulen;
  color:white;
  line-height: 90%;
  font-size: 90px;
}

.section-title {
  font-size: 50px;
  font-family: Koulen;
  color:white;
  margin: 60px 0px 30px 0px;
  text-align: center;
}

#sucursal-title {
  font-family: Koulen;
  color:white;
  font-size: 30px;
}





